name: Actualizar Tabla ARUSA

on:
  schedule:
    - cron: '0 */2 * * *' # Cada 2 horas
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4

      - name: Ejecutar scraping y actualizar JSON
        run: |
          python ./scraper_tabla_arusa21.py

      - name: Commit y push si hay cambios
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@github.com'
          git add tabla_arusa.json
          git diff --quiet && git diff --staged --quiet || git commit -m "Actualización automática de tabla"
          git push
